<!--page-content-wrapper-->

<div class="page-content">
    <!--breadcrumb-->
    <div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">
        <div class="breadcrumb-title pr-3">QAM</div>
        <div class="pl-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0">
                    <li class="breadcrumb-item"><a href="javascript:;"><i class='bx bx-home-alt'></i></a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Topic Manager</li>
                </ol>
            </nav>
        </div>

    </div>
    <!--end breadcrumb-->

    <div class="user-profile-page">
        <div class="row">


            <div class="col-4">
                <div class="card radius-15">
                    <div class="container">
                        <div class="card-body text-center">
                            <h4 class="mb-0 text-center">Topic List</h4>
                            <hr />
                            <ul>
                                <div class="row me-2">

                                    <li class=" col-md-10 list-group-item">
                                        <p class="mb-0"><i class='bx bx-globe'></i> Topic 2
                                        </p>
                                    </li>
                                    <button class="col-md-2 btn btn-danger"><i
                                            class="fadeIn animated bx bx-trash-alt"></i></button>
                                </div>

                            </ul>
                            <ul>
                                <div class="row me-2">

                                    <li class=" col-md-10 list-group-item">
                                        <p class="mb-0"><i class='bx bx-globe'></i> Topic 2
                                        </p>
                                    </li>
                                    <button class="col-md-2 btn btn-danger"><i
                                            class="fadeIn animated bx bx-trash-alt"></i></button>
                                </div>

                            </ul>

                        </div>

                    </div>
                </div>
            </div>

            <div class="col-8">
                <div class="card radius-15">
                    <div class="container">
                        <div class="card-body text-center">
                            <div class="row me-2">

                                <div class="flex-grow-1 search-bar col-lg-8">
                                    <div class="input-group">
                                        <div class="input-group-prepend search-arrow-back">
                                            <button class="btn btn-search-back" type="button"><i
                                                    class="bx bx-arrow-back"></i>
                                            </button>
                                        </div>
                                        <input type="text" class="form-control" placeholder="search" />
                                        <div class="input-group-append">
                                            <button class="btn btn-search" type="button"><i
                                                    class="lni lni-search-alt"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <button (click)="isShowForm = true" *ngIf="!isShowForm" class="col-md-4 btn btn-success"> <i class="fadeIn animated bx bx-trash-alt"></i>
                                    Add new Topic</button>
                                <br>

                                <div *ngIf="isShowForm">
                                    <div class="row me-2">
                                        <form (ngSubmit)="onSubmit(addTopicForm.value)" novalidate>

                                            <div class="form-group">
                                                <h4>Name Topic </h4>

                                                <input type="text" class="form-control" placeholder="Enter your new topic" formControlName="Newtopic" />
                                                <!--<div class="text-danger text-center invalid-feedback d-block" *ngIf="!addTopicForm.controls.Newtopic?.valid && (addTopicForm.controls.Newtopic?.dirty || addTopicForm.controls.Newtopic?.touched)">

                                                    <span [hidden]="!addTopicForm.controls.Newtopic.errors?.['required']">
                                                        Password is required!
                                                    </span>
                                                    <span [hidden]="!addTopicForm.controls.Newtopic.errors?.['minlength']">
                                                        Password must be at least 3 characters long!
                                                    </span>
                                                </div>-->
                                                <br>
                                                <button (click)="addNewTopic();" class="btn btn-success" type="submit" [disabled]="!addTopicForm.valid"> <i
                                                        class="fadeIn animated bx bx-trash-alt"></i>
                                                    Add new Topic</button>
                                            </div>
                                        </form>
                                    </div>
                                    <hr>

                                </div>
                            </div>
                            <br>


                            <h4 class="mb-0 text-center">Topic Name</h4>
                            <hr />
                            <ul>
                                <div class="table-responsive">
                                    <table class="table mb-0">
                                        <thead>
                                            <tr>
                                                <th>Name staff</th>
                                                <th>Description</th>
                                                <th>Created Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Staff 1</td>
                                                <td>afnkvsdkvksdnv...</td>
                                                <td>22/02/2023</td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>

                            </ul>
                            <nav class="float-end mt-4" aria-label="Page navigation">
                                <ul class="pagination">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#">Previous</a>
                                    </li>
                                    <li class="page-item active">
                                        <a class="page-link" href="#">1</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                </ul>
                            </nav>


                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--end page-content-wrapper-->