<!-- wrapper -->
<div class="wrapper">
    <div class="authentication-reset-password d-flex align-items-center justify-content-center">
        <div class="row">
            <div class="col-12 col-lg-10 mx-auto">
                <div class="card radius-15">
                    <div class="row no-gutters">
                        <div class="col-lg-5">
                            <div class="card-body p-md-5 text-center">
                                <div class="text-left">
                                    <img src="../../assets/syndashadmin-10/main-files/vertical/assets/images/logo-img.png" width="180" alt="">
                                </div>
                                <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" novalidate>
                                    <h4 class="mt-5 font-weight-bold">Reset Password</h4>



                                    <div class="form-group">
                                        <label>New Password</label>
                                        <input type="password" formControlName="newPassword" class="form-control" placeholder="Enter new password" />
                                        <div class="text-danger text-center invalid-feedback d-block " *ngIf="!resetPasswordForm.get('newPassword')?.valid && (resetPasswordForm.get('newPassword')?.dirty || resetPasswordForm.get('newPassword')?.touched)">
                                            <span [hidden]="!resetPasswordForm.get('newPassword')?.errors?.['required']">
                                                New Password is required!
                                            </span>

                                            <span [hidden]="!resetPasswordForm.get('newPassword')?.errors?.['minlength']">
                                                New Password must be at least 6 characters long!
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Confirm Password</label>
                                        <input type="password" formControlName="password" class="form-control" placeholder="Confirm password" required/>
                                        <div class="text-danger text-center invalid-feedback d-block " *ngIf="!resetPasswordForm.get('reNewPassword')?.valid && (resetPasswordForm.get('reNewPassword')?.dirty || resetPasswordForm.get('reNewPassword')?.touched)">


                                            <span [hidden]="!resetPasswordForm.get('reNewPassword')?.errors?.['required']">
                                                Retype New Password is required!
                                            </span>

                                            <span [hidden]="!resetPasswordForm.get('reNewPassword')?.errors?.['minlength']">
                                                Retype New Password must be at least 6 characters long!
                                            </span>
                                        </div>
                                        <div class="text-danger text-center invalid-feedback d-block" *ngIf="status === false">

                                            <span>
                                                Passwords do not match!
                                            </span>

                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-primary btn-block">Change Password</button> <a href="authentication-login.html" class="btn btn-link btn-block"><i
                                            class='bx bx-arrow-back mr-1'></i>Back to Login</a>
                                </form>

                            </div>

                        </div>
                        <div class="col-lg-7">
                            <img src="../../assets/syndashadmin-10/main-files/vertical/assets/images/login-images/forgot-password-frent-img.jpg" class="card-img login-img h-100" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end wrapper -->