<div class="col-md-12  card radius-15 align-content-center border mb-0 mt-4 ">
    <div class="mt-2">
        <div class="row  m-auto">

            <div class="row">
                <div class="col-1 align-items-center">
                    <img src="assets/images/faces/1.jpg" class="avatar avatar-md rounded-circle">
                </div>
                <div class="col-3">
                    <h6>Staff Name</h6>
                </div>
            </div>

        </div>
    </div>
    <div class="card-body">
        <div class="row text-center m-auto">
            <div class="col-3">
                <h6>Title</h6>
            </div>
            <div class="col-3">
                <h6>Category Type</h6>
            </div>
            <div class="col-3">
                <h6>Event Type</h6>
            </div>
            <div class="col-3">
                <h6>12/12/2023</h6>

            </div>
        </div>

        <div class="row card-body Regular shadow col-11 m-auto align-content-center  radius-15">
            <div>
                <h5 class="text-center">Content Idea</h5>
            </div>

        </div>
        <br>
        <div class="row ">
            <div class="col-10 d-flex">
                <div class="col-1">
                    <i class="fadeIn animated bx bx-like"></i> 14
                </div>
                <div class="col-1">
                    <i class="fadeIn animated bx bx-dislike"></i> 2
                </div>
                <div class="col-1">
                    <i class="lni lni-eye"></i> 23
                </div>
            </div>
            <div class="col-2 justify-content-end">
                <i class="fadeIn animated bx bx-comment"></i> 12 Comment
            </div>

        </div>

        <hr color="black" size="10px" />
        <div class="row mb-auto">
            <div class="col-10 d-flex">
                <div class="col-2">
                    <i class="fadeIn animated bx bx-like"></i> Like
                </div>
                <div class="col-2">
                    <i class="fadeIn animated bx bx-dislike"></i> Dislike
                </div>
            </div>
            <div class="col-2 justify-content-end">
                <i class="fadeIn animated bx bx-comment"></i> Comment
            </div>
        </div>
        <hr color="black" size="10px" />
        <!-- comment -->
        <div class="row m-auto ">
            <div class="col-1">
                <img src="assets/images/faces/1.jpg" class="avatar avatar-lg rounded-circle">
            </div>
            <div class="col-7">
                <textarea class="form-control" rows="1" cols="3" placeholder="Write comment..."></textarea>
            </div>
        </div>
        <div class="row m-auto pt-2 ">
            <div class="col-1">
                <img src="assets/images/faces/1.jpg" class="avatar avatar-lg rounded-circle">
            </div>
            <div class="col-7 ">
                <span>
                    <label>Staff Name</label>
                </span>
                <span>
                    <form class="form-control">
                        <p>Verry good!!!</p>
                    </form>
                </span>
                <div class="row">
                    <div class="col-2">
                        <i class="fadeIn animated bx bx-like"></i> 12
                    </div>
                    <div class="col-2">
                        <i class="fadeIn animated bx bx-dislike"></i> 2
                    </div>
                </div>

            </div>
        </div>
        <div class="row m-auto pt-2 ">
            <div class="col-1">
                <img src="assets/images/faces/1.jpg" class="avatar avatar-lg rounded-circle">
            </div>
            <div class="col-7 ">
                <span>
                    <label>Staff Name</label>
                </span>
                <span>
                    <form class="form-control">
                        <p>Verry good!!!</p>
                    </form>
                </span>
                <div class="row">
                    <div class="col-2">
                        <i class="fadeIn animated bx bx-like"></i> 12
                    </div>
                    <div class="col-2">
                        <i class="fadeIn animated bx bx-dislike"></i> 2
                    </div>
                </div>

            </div>
        </div>
        <div class="row m-auto pt-2 ">
            <div class="col-1">
                <img src="assets/images/faces/1.jpg" class="avatar avatar-lg rounded-circle">
            </div>
            <div class="col-7 ">
                <span>
                    <label>Staff Name</label>
                </span>
                <span>
                    <form class="form-control">
                        <p>Verry good!!!</p>
                    </form>
                </span>
                <div class="row">
                    <div class="col-2">
                        <i class="fadeIn animated bx bx-like"></i> 12
                    </div>
                    <div class="col-2">
                        <i class="fadeIn animated bx bx-dislike"></i> 2
                    </div>
                </div>

            </div>
        </div>
        <div class="row m-auto pt-2 ">
            <div class="col-1">
                <img src="assets/images/faces/1.jpg" class="avatar avatar-lg rounded-circle">
            </div>
            <div class="col-7 ">
                <span>
                    <label>Staff Name</label>
                </span>
                <span>
                    <form class="form-control">
                        <p>Verry good!!!</p>
                    </form>
                </span>
                <div class="row">
                    <div class="col-2">
                        <i class="fadeIn animated bx bx-like"></i> 12
                    </div>
                    <div class="col-2">
                        <i class="fadeIn animated bx bx-dislike"></i> 2
                    </div>
                </div>

            </div>
        </div>
        <div class="row m-auto pt-2 ">
            <div class="col-1">
                <img src="assets/images/faces/1.jpg" class="avatar avatar-lg rounded-circle">
            </div>
            <div class="col-7 ">
                <span>
                    <label>Staff Name</label>
                </span>
                <span>
                    <form class="form-control">
                        <p>Verry good!!!</p>
                    </form>
                </span>
                <div class="row">
                    <div class="col-2">
                        <i class="fadeIn animated bx bx-like"></i> 12
                    </div>
                    <div class="col-2">
                        <i class="fadeIn animated bx bx-dislike"></i> 2
                    </div>
                </div>

            </div>
        </div>
        <div class="row m-auto pt-2 ">
            <div class="col-1">
                <img src="assets/images/faces/1.jpg" class="avatar avatar-lg rounded-circle">
            </div>
            <div class="col-7 ">
                <span>
                    <label>Staff Name</label>
                </span>
                <span>
                    <form class="form-control">
                        <p>Verry good!!!</p>
                    </form>
                </span>
                <div class="row">
                    <div class="col-2">
                        <i class="fadeIn animated bx bx-like"></i> 12
                    </div>
                    <div class="col-2">
                        <i class="fadeIn animated bx bx-dislike"></i> 2
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>