<div class="page-content">
    <!--breadcrumb-->
    <div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">
        <div class="breadcrumb-title pr-3">Admin</div>
        <div class="pl-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0">
                    <li class="breadcrumb-item"><a href="javascript:;"><i class='bx bx-home-alt'></i></a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Topic</li>


                    <li class="breadcrumb-item active" aria-current="page">Topic List</li>
                </ol>
            </nav>
        </div>


    </div>
    <!--end breadcrumb-->

    <div class="col-md-12  card radius-15 align-content-center ">
        <div class="card-header border-bottom-0">
            <div class="d-flex align-items-center">

                <div>
                    <h5 class="mb-0">Topic List</h5>
                </div>

            </div>
        </div>
        <div class="card-body p-0">
            <hr />
            <div class="table-responsive">
                <table class="table align-items-center mb-0">
                    <thead>
                        <tr>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 align-middle text-center">Topic</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 align-middle text-center">
                                Deadline Idea</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 align-middle text-center">
                                Deadline Comment</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 align-middle text-center">
                                Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="align-middle text-center">
                                
                                        <p class="mb-0 text-sm">Topic 1</p>
                                 
                            </td>
                            <td class="align-middle text-center">
                                <p class="text-sm font-weight-bold mb-0">2021-12-12</p>
                            </td>
                            <td class="align-middle text-center">
                                <p class="text-sm font-weight-bold mb-0">2021-12-12</p>
                            </td>

                            <td class="align-middle text-center">
                                <button type="button" class="btn btn-info radius-15 me-3" data-toggle="modal"
                                    data-target="#exampleModalCenter">Edit</button>

                                <button type="button" class="btn btn-danger radius-15">Delete</button>
                            </td>
                        </tr>

                    </tbody>
                </table>


            </div>
        </div>
    </div>